Language: C
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 79
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BinPackArguments: false
BinPackParameters: false
AlignOperands: false
AlignTrailingComments: false
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
