BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 79
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: false
BreakBeforeBinaryOperators: All
