# rust build output
/target/

# rustfmt config
/rustfmt.toml

# zig
.zig-cache/
zig-out/
build.zig

# c
/vimDAW
/WAR
/build/
.cache/

# tmp
/test/
/sounds/
/proto/

# neovim swap and backup files
*.swp
*.swo
*.swn
*.bak
*.tmp
*.un~
.*tgpt*
alsa_output.pci-*
alsa_input.*

# valgrind
vgcore.*
valgrind.*

# session files
Session.vim

# os files
.DS_Store
*~

# logs
*.log
/log.md
/log/

# mistake
\'
