# rust build output
/target/

# rustfmt config
/rustfmt.toml

# zig
.zig-cache/
zig-out/
build.zig

# c
vimDAW
/build/
.cache/

# neovim swap and backup files
*.swp
*.swo
*.swn
*.bak
*.tmp
*.un~

# session files
Session.vim

# os files
.DS_Store
*~

# logs
*.log

